@import "src/scss/_breakpoints.scss";
@import "src/scss/_variables.scss";

.order-wrap {
  display: grid;
  gap: 1rem;
  min-height: $basicHeight - 12vh;
  margin-top: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: max-content;
}
