rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /products/{productId} {
       allow read;
       allow write : if isAdmin();
    }
  
    match /categories/{categoryId} {
       allow read;
       allow write :if isAdmin();
    }
  
    match /users/{userId} {
       allow read: if request.auth.uid == resource.data.uid && isAuthenticated();
       allow write : if request.auth.uid == userId && isAuthenticated();
    }
    
     match /shopping_cart/{cartId} {
       allow read, write: if cartId == resource.id;
    }
    
    match /shopping_cart/{cartId}/{productId} {
       allow read, write: if cartId == resource.id;
    }
    
    match /orders/{uid} {
       allow read: if request.auth.uid == uid;
       allow write: if request.auth.uid == uid;
    }
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
    }
    
    function isAuthenticated(){
      return request.auth != null;
    }
  }
}