<div class="images-container">
  <div class="main-image">
    <swiper [loop]="true" class="swiper">
      <ng-template *ngFor="let image of images" swiperSlide>
        <img [src]="image" [alt]="title" />
      </ng-template>
    </swiper>
  </div>
  <div class="thumbnail-images">
    <div
      class="thumbnail-image"
      [class.active]="i === currentImageIndex"
      *ngFor="let image of images; index as i"
      (click)="slideImage(i + 1)"
    >
      <img [src]="image" [alt]="title" />
    </div>
  </div>
</div>
