@import "src/scss/_variables.scss";

.alert-body {
  background: $lightRed;
  color: $danger;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  margin-inline: unset;
  display: flex;
  gap: 0.8rem;
  p {
    margin: 0;
  }
}
