<div class="card">
  <div class="card-header">
    <h6 class="m-0">Order Summary</h6>
  </div>

  <div class="card-body py-0">
    <div
      class="cart-product"
      *ngFor="let cartProduct of shoppingCart.shoppingCartItems"
    >
      <div class="cart-product-img">
        <img [src]="cartProduct.images[0]" width="50" alt="" />
      </div>

      <div class="cart-product-content">
        <div class="product-title">
          <p class="m-0">{{ cartProduct.title | short }}</p>
        </div>
        <div class="productAndPrice">
          <p class="m-0 text-muted">
            {{ cartProduct.price | currency }} x
            {{ cartProduct.quantity }}
          </p>
          <p class="product-total m-0">
            {{ cartProduct.cartItemTotalPrice | currency }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex align-items-center justify-content-between">
    <p class="m-0">Cart Total</p>
    <h6 class="m-0">{{ shoppingCart.cartTotalPrice | currency }}</h6>
  </div>
</div>
