@import "src/scss/_variables.scss";

.cart-product {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
  transition: 200ms ease-in-out background-color;
  background-color: $white;
  padding-inline: 0.5rem;

  &:not(&:last-child) {
    border-bottom: 1px solid $gray-200;
  }

  &-img {
    height: 3.125rem;
    width: 3.125rem;
    aspect-ratio: 1 / 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    .productAndPrice {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .product-total {
        font-weight: 500;
      }
    }
  }
  cursor: pointer;

  &:hover {
    background-color: $gray-200;
  }
}
