<div class="container-lg text-center">
  <ng-container *ngIf="order">
    <header class="mt-5">
      <h3 class="mb-2 text-success">
        Your Order is {{ order.isDelivered ? "Delivered!" : "Confirmed!" }}
      </h3>
    </header>
    <div>
      <p class="text-muted mb-4">
        {{
          order.isDelivered
            ? "This order has been already delivered."
            : "This order will be delivered soon."
        }}
      </p>
      <a [routerLink]="['/orders', order.orderID]" class="btn btn-outline-dark">
        View Order
      </a>
    </div>
  </ng-container>

  <ng-container *ngIf="loading">
    <loader></loader>
  </ng-container>

  <ng-container *ngIf="error">
    <error>
      <ng-container class="alert-heading"
        >Oops! Something is missing</ng-container
      >
      <ng-container class="alert-message">{{ error.message }}</ng-container>

      <a routerLink="/my-orders" class="alert-action btn btn-outline-dark">
        View All Orders
      </a>
    </error>
  </ng-container>
</div>
