@import "src/scss/_breakpoints.scss";
@import "src/scss/_variables.scss";

.price-container {
  .fs-sm {
    font-size: 0.87rem;
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 0.35rem;
  }
}

.detail-container {
  @include breakpoint(md) {
    max-width: 31rem;
  }
}

.bg-primary {
  background-color: darken($primary, 22) !important;
}
