@import "src/scss/_variables.scss";
@import "src/scss/_breakpoints.scss";

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @include customBreakPoint(654px) {
    gap: 1rem;
  }
  @include customBreakPoint(690px) {
    gap: 1.5rem;
  }
}

.card {
  padding-block: 0.5rem;
  cursor: pointer;
  transition: 200ms ease-in-out background-color;
  border: 0;
  border-radius: 0;
  &:not(&:last-child) {
    border-bottom: 1px solid $gray-200;
  }

  img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: contain;
  }
  &:hover {
    background-color: $gray-100;
  }
  &-body {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  @include customBreakPoint(638px) {
    box-shadow: 0 0 6px 0 rgb(202 200 200 / 38%);
    border: none !important;
    border-radius: 0.25rem;
  }
}
