<div class="card order-card card-shadow p-0">
  <div class="card-body">
    <div class="order-header">
      <div class="d-flex align-items-center">
        <p class="order-id m-0">
          <span class="fs-sm text-muted"> Order Id: </span>
        </p>
        <p class="m-0 ms-1">
          {{ order.orderID }}
        </p>
      </div>
      <p class="order-placed text-muted m-0 fs-sm mt-1">
        <span>{{ order.datePlaced | date }}, </span>
        <span>{{ order.datePlaced | date: "shortTime" }}</span>
      </p>
    </div>
    <ng-content select=".shipping"></ng-content>
    <div class="order-body">
      <p class="order-quantity m-0">
        <span class="fs-sm text-muted"> Quantity: </span>
        <span> {{ order.orderQuantity }}</span>
      </p>
      <p class="order-placed m-0">
        <span class="fs-sm text-muted"> Order Total: </span>
        <span class="text-bold-500"> {{ order.orderTotal | currency }}</span>
      </p>
    </div>
    <div class="order-foot mt-2">
      <div class="btn-action">
        <ng-content select=".btn-action-1"></ng-content>
        <a
          [routerLink]="['../', order.orderID]"
          [state]="order"
          class="btn btn-outline-dark btn-sm"
          >View Order</a
        >
      </div>
      <div
        class="order-status m-0 badge"
        [ngClass]="{
          'bg-primary-dark': !order.isDelivered,
          'bg-success': order.isDelivered
        }"
      >
        {{ order.isDelivered ? "Delivered" : "Processing" }}
      </div>
    </div>
  </div>
</div>
