@import "variables";
@import "breakpoints";
@import "button-loading";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@import "swiper/scss";
@import "utils.scss";

@mixin boxShadow {
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
  border-color: $primary;
}

.btn-primary {
  &:hover {
    background-color: darken($primary, 10);
    border-color: darken($primary, 10);
  }
}

.bg-primary-dark {
  color: $white;
  background-color: $darkOrange;
}

.bg-light-red {
  background-color: $lightRed;
}

.btn-outline-primary-dark {
  color: $darkOrange;
  border-color: $darkOrange;

  &:hover {
    color: $white;
    background-color: $darkOrange;
  }
}

.text-bold-500 {
  font-weight: 500;
}

.form-control {
  &:focus {
    @include boxShadow();
  }
}

.card.card-shadow {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem;
  .card-header {
    padding: 0;
    padding-inline: 0.5rem;
    padding-bottom: 0.8rem;
    background-color: $white;

    h6 {
      margin: 0;
    }
  }

  .card-header + .card-body {
    padding: 0.5rem;
  }

  .card-footer {
    padding: 0;
    padding-inline: 0.5rem;
    padding-top: 0.8rem;
    background-color: $white;
  }
}

.text-brownred {
  color: $brownRed;
}

.fs-sm {
  font-size: 0.85rem;
}

.btn-sm-block {
  width: 100%;
  @include breakpoint(sm) {
    width: fit-content;
  }
}

.btn-xl-block {
  @include breakpoint(xl) {
    width: 100%;
  }
}

a {
  color: $darkOrange;
}

.swiper-h-100.swiper-slide-h-auto .swiper-slide {
  height: auto !important;
}

.container-lg.manage-mh {
  min-height: 72vh;
}

.mat-dialog-box {
  border-radius: 0.6rem;
  overflow: hidden;
}
