<div class="footer mt-4">
  <div class="container-lg">
    <div class="brand-wrap">
      <a class="brand-img">
        <img src="assets/amazon-logo.svg" alt="Shopping Made Simple" />
      </a>
      <span class="rights-text fs-sm"
        >No Rights reserved. Just for learning purpose</span
      >
    </div>

    <div class="footer-link footer-link-1">
      <ul>
        <p class="links-title">Let Us Help You</p>
        <li>
          <a href="/">Your Account</a>
        </li>
        <li>
          <a href="/">Shopping Cart</a>
        </li>
        <li>
          <a href="/">Your Orders</a>
        </li>
        <li>
          <a href="/">Help</a>
        </li>
      </ul>
    </div>
    <div class="footer-link footer-link-2">
      <ul>
        <p class="links-title">Get to Know Us</p>
        <li>
          <a href="/">Careers</a>
        </li>
        <li>
          <a href="/">Blog</a>
        </li>
        <li>
          <a href="/">About Amazon</a>
        </li>
      </ul>
    </div>

    <div class="footer-link footer-link-3">
      <ul>
        <p class="links-title">Shop By Brand</p>
        <li>
          <a href="/">Apple</a>
        </li>
        <li>
          <a href="/">Samsung</a>
        </li>
        <li>
          <a href="/">LG</a>
        </li>
        <li>
          <a href="/">Sony</a>
        </li>
      </ul>
    </div>

    <div class="footer-link footer-link-4">
      <ul>
        <p class="links-title">Connect With Us</p>
        <li>
          <a href="/">Facebook</a>
        </li>
        <li>
          <a href="/">Twitter</a>
        </li>
        <li>
          <a href="/">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</div>
